:root {
    --text-1: rgb(48, 15, 85);
    --text-2: rgb(87, 26, 156);
    --text-3: rgb(190, 178, 204);
}

body {
    margin: 0;

    min-height: 100vh;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: rgb(245, 227, 255);
}

.main {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    background-color: rgb(103, 81, 138);
    color: white;
    h5 {
        color: white;
        font-weight: bold;
        font-size: 32px;
    }
    .navbar-end {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 24px;
        padding-right: 24px;
        font-size: 24px;
    }
}

.shop-nav {
    width: 100%;
    background-color: var(--text-1);
    .navbar-menu {       
        gap: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.navbar-item {
    color: white;
    font-weight: bold;
}

h1 {
    font-size: 36px;
    padding-top: 20px;
    font-weight: bold;
    color: var(--text-1);
}

.logo {
    border-radius: 50%;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.1s ease;
}

footer.end {
    background-color: rgb(103, 81, 138);
    color: white;
    height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    bottom: 0px;
    position: fixed;
    
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 100px;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-2);
    .info {
        display: flex;
        justify-content: center;
        gap: 48px;
        .text {
            display: flex;
            font-size: 24px;
            border: 5px dashed var(--text-1);
            border-radius: 24px;
            align-items: center;
            justify-content: center;
            width: 30rem;
            padding: 20px;
        }
        .picture {
            border-radius: 24px;
        }
    }
}

.products {
    display: flex;
    justify-content: center;
    gap: 120px;
    width: 100%;
    flex-wrap: wrap;
    .card {
        width: 300px;
        .card-image {
            width: 300px;
            height: 300px;
            img {
                height: 100%;
                width: 100%;
                object-fit: fill;
            }
        }
        .card-content {
            height: 200px;
        }

        .add-to-cart {
            color: var(--text-1)
            }
        .add-to-cart:hover {
            background-color: var(--text-3);
            transition: 0.3s ease-in-out;
            cursor: pointer;
        }
    }
}

