:root {
  --text-1: rgb(48, 15, 85);
  --text-2: rgb(87, 26, 156);
  --text-3: rgb(190, 178, 204);
}

body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5e3ff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  background-color: #67518a;
  color: white;
}

.navbar h5 {
  color: white;
  font-weight: bold;
  font-size: 32px;
}

.navbar .navbar-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 24px;
  padding-right: 24px;
  font-size: 24px;
}

.shop-nav {
  width: 100%;
  background-color: var(--text-1);
}

.shop-nav .navbar-menu {
  gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-item {
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 36px;
  padding-top: 20px;
  font-weight: bold;
  color: var(--text-1);
}

.logo {
  border-radius: 50%;
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

footer.end {
  background-color: #67518a;
  color: white;
  height: 2.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  bottom: 0px;
  position: fixed;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  padding-bottom: 100px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-2);
}

.content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 48px;
}

.content .info .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  border: 5px dashed var(--text-1);
  border-radius: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30rem;
  padding: 20px;
}

.content .info .picture {
  border-radius: 24px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products .card {
  width: 300px;
}

.products .card .card-image {
  width: 300px;
  height: 300px;
}

.products .card .card-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.products .card .card-content {
  height: 200px;
}

.products .card .add-to-cart {
  color: var(--text-1);
}

.products .card .add-to-cart:hover {
  background-color: var(--text-3);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.dropdown-trigger {
  border: 3px solid var(--text-2);
  background-color: var(--text-3);
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-1);
}

.dropdown-trigger:hover {
  background-color: white;
  border-color: grey;
  cursor: pointer;
}

.dropdown-menu {
  border: 1px solid #888;
  background-color: #f2f2f2;
  z-index: 1;
  width: 400px;
}

.shopping-cart-item {
  height: 70px;
  padding: 5px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping-cart-item:hover {
  background-color: #e6e6e6;
}

.shopping-cart-item-image {
  padding: 3px;
  border: 2px solid #404040;
  border-radius: 5px;
}

.item-info,
.dropdown-subtotal {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.item-info {
  margin: 12px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-name,
.item-price,
.item-frequency,
.dropdown-subtotal {
  font-size: 12px;
}

.item-name {
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.item-price,
.dropdown-subtotal-amount {
  width: 80px;
  text-align: left;
}

.item-frequency {
  width: 20px;
}

.item-delete {
  height: 18px;
  width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 11px;
  border: 2px solid #de673f;
  background-color: #f0baa8;
  color: #993a1a;
  cursor: pointer;
}

.item-delete:hover {
  background-color: #e17551;
}

.dropdown-divider {
  width: 93%;
  margin: 10px auto;
  background-color: #ccc;
}

.dropdown-subtotal {
  margin: 10px;
  margin-left: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dropdown-subtotal-text,
.dropdown-checkout {
  font-weight: 700;
  color: #4d8316;
}

.dropdown-subtotal-text {
  margin-right: 10px;
  font-size: 14px;
}

.dropdown-subtotal-amount {
  margin-right: 0;
}

.dropdown-checkout {
  position: relative;
  top: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 30px;
  width: 60%;
}

.empty-cart {
  width: 200px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
}
/*# sourceMappingURL=custom.css.map */